@media only screen and (max-width: 767px) {

    .front-left {
        display: flex;
        align-items: center;
        justify-content: center;
        height:80%;
        margin-bottom: 72px;
    }

    .name {
        font-size: 48px;
    }

    .type {
        font-size: 18px;
    }

    .social-media {
        padding-right: 24px;
    }


    #about {
        height: auto;
    }

    .skill {
        border-radius: 0px;
    }

    .slider-btn {
        display: contents;
        font-size: 1em;
        color: #FEFFFE;
    }
      
    .slider-btn-container {
        display: flex;
        justify-content: space-between;
    }
    
    .slider-container {
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        display: block !important;
        margin-bottom: 72px;
    }
    
    .slider {
        display: flex;
        position: relative;
        width: 100%;
        transition: transform 0.5s ease;
    }
    
    .slide {
        flex: 0 0 auto;
        width: 100%;
    }

    .skills-container {
        display: none !important;
    }

    .skill {
        margin-bottom: 16px;
        width: 100%;
    }

    .skill-icon {
        max-height: 120px;
    }

    .skill-name {
        font-size: 24px;
    }

    .divider {
        display: none;
    }

    #experience {
        padding-left: 24px;
        padding-right: 24px;
    }

    #experience .row {
        flex-direction: column-reverse;
    }

    .ex-illustration {
        display: none;
    }

    .list {
        margin: none;
    }

    .li-desc {
        left: 5px; 
    }

    .section-title {
        font-size: 32px;
        padding: 24px;
    }

    .section-desc {
        padding: 8px;
        font-size: 14px;
    }

    #portfolio {
        padding: 0px !important;
    }

    #portfolio .row {
        padding-left: 5%;
        padding-right: 5%;
    }

    .projects-card {
        height: auto;
    }

    .popup h4 {
        font-size: 16px;
    }

    .rectangle {
        display: none;
    }  

    .rectangle-mobile {
        position: absolute;
        width: 90%; 
        height: 70%;
        margin-left: -10%;
        margin-top: -70%;
        border: 1px dashed #FEFFFE;
        display: none;
    }

    .aboutme {
        height: auto !important;
        margin: 0px !important;
    }

    .profile {
        max-width: 90% !important;
        margin: 24px 0px 24px 0px;
        padding: 15px;
        border: 1px dashed white;
    }

    .profile-container {
        height: auto !important;
    }

    .left-profile {
        margin: 0px;
    }

    .profile {
        width: 100% !important;
    }

    .left-profile {
        height: 100% !important;
    }

    .right-profile {
        height: auto !important;
    }

    .btn-group {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .tab-button {
        flex: 1;
        font-size: 11px;
    }

    .vignette-top, .vignette-bot {
        display: none !important;
    }

    .tabs {
        padding-left: 24px !important;
        padding-right: 24px !important;
        width: 100%;
        /* border: 1px solid green; */
    }

    .profile-desc {
        font-size: 12px;
    }

    .buttons {
        width: 100%;
        display: flex;
        gap: 8px;
    }

    .btn-outline {
        width: 50% !important;
    }

    .btn-fill {
        width: 50% !important;
    }

    .modal-img-container {
        margin-bottom: 24px;
    }

    input {
        width: 100%;
    }

    footer {
        height: 250px;
        border: none;
    }

    .footer-content {
        display: none;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .spin {
        animation: spin infinite 10s linear;
    }

    .div {
        display: flex !important;
        justify-content: center;
        align-items: center;
        height: 50%;
    }

    .div .social {
        margin: 10px;
        font-size: 1.5em;
        margin-bottom: -20px;
    }

    .modal-col {
        padding-left: 0px !important;
    }

    .modal-col h5 {
        font-size: 20px !important;
    }

    .modal-desc {
        margin-top: -72px;
        padding: 18px !important;
    }
}
  